Source: vx-repo-precise-frozen
Section: utils
Priority: extra
Maintainer: Alberto Gacías <alberto@migasfree.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://github.com/vitalinux

Package: vx-repo-precise-frozen
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Description: Install a precise frozen repository for vitalinux
 Install a precise frozen repository for vitalinux systems
